<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baxianguohai.hetao.biz.dal.mapper.UserMapper">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="sql_columns">
		`id`, 		`name`, 		`phone`, 		`password`, 		`is_delete`, 		`gmt_created`, 		`gmt_modified`	</sql>

    <resultMap id="HtUserMap" type="com.baxianguohai.hetao.biz.dal.model.UserDO">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="password" column="password"/>
        <result property="isDelete" column="is_delete"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

</mapper>